body {
    font-size: 16px;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header-flex-2 {
    background: tomato;
}

.footer-flex-2 {
    background: lightgreen;
    order: 4;
}

.main {
    text-align: left;
    background: deepskyblue;
    flex: 3 0px;
    order: 2;
}

.main img {
    width: 100%;
    height: auto;
}

.aside {
    flex: 1 0 0;
}

.aside-1 {
    background: gold;
    order: 1;
}

.aside-2 {
    background: hotpink;
    order: 3;
}

/* Tablet: >= 600px */
@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
    .main img {
        flex: 3 0px;
    }
    .aside {
        flex: 1 0 0;
    }
}

/* Mobile: < 600px */
@media (max-width: 599px) {
    body {
        font-size: 20px;
    }

    .main img {
        order: 1;
    }

    .aside-1 {
        order: 2;
    }

    .aside-2 {
        display: none; /* Ẩn cột 2 nếu muốn */
    }
}

